
# === IDEs ===
.idea/
.vscode/
.bloop/
.metals/
*.iml
.venv

# === Mac/Linux system files ===
.DS_Store

# === Jupyter Notebooks Checkpoints ===
.ipynb_checkpoints/

# === Dataset local (ne pas versionner les données lourdes) ===
yelp_dataset/
Producer/yelp_dataset
Consumer/yelp_dataset

# === Fichiers temporaires et logs ===
*.log
*.tmp

# === Docker ===
*.pid

# === Fichiers d'environnement sensibles ===
.env