# === Scala / SBT / Spark ===
target/

project/build.properties        
project/Dependencies.scala
project/target
project/plugins.sbt

output_batches/

# === IDEs ===
.idea/
.vscode/
.bloop/
.metals/
*.iml
.bsp

# === Mac/Linux system files ===
.DS_Store

# === Jupyter Notebooks Checkpoints ===
.ipynb_checkpoints/

# === Dataset local (ne pas versionner les données lourdes) ===
yelp_dataset/

# === Fichiers temporaires et logs ===
*.log
*.tmp

# === Docker ===
*.pid

# === Fichiers d'environnement sensibles ===
.env